.listitem{
  padding:5px;
  display: block;
  width:100%;
  color:white;
  cursor: pointer;
  min-height:48px;
  align-self:flex-start;
}
.listitem:hover{
  background-color: #561E4C;
  color:white;
}
