.listContainer{
  width:70%;
  height:100vh;
  overflow-y: scroll;
  background-color:#2A1727;
  z-index:1000px;
  display:none;
  order:1
}
.list{
  display: flex;
  padding: 0;
  margin: 0;
  width:100%;
  align-self:flex-start;
  flex-wrap:wrap;
  min-height:100%
}

@media screen and (min-width:576px){
  .listContainer{
    width:40%;
    display:flex;
    flex-wrap:wrap;
  }
}
