.listContainer{
  width:0;
  height:100vh;
  overflow-y: scroll;
  background-color:#2A1727;
  display: flex;
  flex-wrap:wrap;
  position: absolute;
  z-index: 3;
  transition: 0.3s linear width;
  left:0;
}

.list{
  display: flex;
  padding: 0;
  margin: 0;
  width:100%;
  align-self:flex-start;
  flex-wrap:wrap;
  min-height:100%
}
.closeButton{
  width:100%;
  height:48px;
  background-color: inherit;
  color:white;
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (min-width:799px){
  .listContainer{
    width:25% !important;
    display:flex;
    flex-wrap:wrap;
    z-index: 0;
    position:relative !important;
    order:1;
  }
  .closeButton{
    display:none;
  }

}
