.listContainer{
  width:70%;
  height:100vh;
  overflow-y: scroll;
  background-image:linear-gradient( to right,rgba(0,0,0,0.3),rgba(0,0,0,0.6));
  z-index:1000px;
  display:none;
  order:1
}
.list{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width:100%;
}

@media screen and (min-width:576px){
  .listContainer{
    width:40%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
  }
}
