.map {
  width:100%;
  height:100vh;
  order:2;
}
.menu{
  width:48px;
  height:48px;
  position:absolute;
  top:10px;
  left:10px;
  z-index: 1;
}
.menu img{
  width:100%;
  height:48px;
  cursor:pointer;
}
@media screen and (min-width:799px) {
  .menu{
    display:none;
  }
  .map{
    width:75%;
  }
}
